/* Pull fonts*/
@font-face {
    font-family: "Bookinsanity";
    src: url("fonts/Bookinsanity.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Zatanna Misdirection";
    src: url("fonts/Zatanna_Misdirection.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Nodesto Caps Condensed";
    src: url("fonts/Nodesto_Caps_Condensed.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Scaly Sans";
    src: url("fonts/Scaly_Sans.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("fonts/Mr_Eaves_Small_Caps.otf") format("opentype");
    font-weight: normal;
}
/* Fonts pulled */

h1 {
    font-family: "Mr Eaves Small Caps";
    color: #CC2936;
    font-size: 5em;
    text-align: center;
}

h2 {
    font-family: "Mr Eaves Small Caps";
    color: rgb(95,25,25);
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: "Mr Eaves Small Caps";
    color: #CC2936;
    font-size: 3em;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #f4dcad;
    border-bottom: 1px solid black;
    width: 60%;
    padding-left:20%;
    padding-right:20%;
}

p {
    font-family: "Booksanity";
    text-align: left;
    color: rgb(20,20,20);
    font-size: 1.4em;
    width: 60%;
    padding-left:20%;
    padding-right:20%;
}

.outer_list {
    font-family: "Scaly Sans";
    text-align: left;
    color: rgb(20,20,20);
    font-size: 1.3em;
    width: 50%;
    padding-left:25%;
    padding-right:25%;
}

/*
li ul {
    font-family: "Booksanity";
    text-align: left;
    color: rgb(20,20,20);
    font-size: 1.3em;
    width: 50%;
    padding-left:25%;
    padding-right:5%;
}
*/

li {
    
}

blurb {
    font-family: "Zatanna Misdirection";
    text-align: center;
    font-size: 2em;
    width: 100%;
}

table, tr, td {
    font-family: "Scaly Sans" ;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding: 5px;
}

.chart-nav-button {
    font-size: 30px;
    height: 80px;
    background-color: #CC2936;
    color: white;
    position: relative;
    /*bottom: 100px;*/
    
}


.chart-nav-visible {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.chart-nav-collapse {
    visibility: collapse;
    height: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}


/*6B818C*/
html {
    background-color: #f4dcad;
}